/* Imports */
@import './assets/stylesheets/global-variables';
@import './assets/stylesheets/carot-mixin';
@import './assets/stylesheets/loading-animation';

$card-width: 320px; // Width of card (default 320px); can be replaced with %

/* Carot details (default) */
$carot-size: 10px;
$carot-left: 200px;

/* Card Prompt */
$prompt-bg-color: #EEEEEE;
$prompt-carot-size: 10px;
$prompt-carot-left: calc(100% - 50px); // horizontal position of the carot
$prompt-margin-bottom: 5px; // vertical distance from card

/* Card */
$card-horiz-padding: 20px;
$card-vert-padding: 10px;
$card-border-radius: 5px;
$cursor-size: 10px;

/* Progress bar */
$progress-percent: 10%; // default percentage until completion
$progress-bar-bg-color: $text-color;
$progress-bar-height: 15px;
$progress-bar-border-radius: 5px;
$progress-carot-size: 7px;
$progress-carot-left: calc(#{$progress-percent} - #{$progress-carot-size});
$progress-carot-color: $theme-color;

/* Card Input */
$card-input-height: calc(40px - 2px);

/* Text Input */
$text-input-horiz-padding: 5px;
$text-input-vert-padding: 10px;
$text-input-font: $text-font;

/* Button Input */
$button-font-size: 17px;
$button-width: 60px;
$button-border-radius: 5px;
$button-text-color: white;
$button-horiz-padding: 20px;
$button-vert-margin: 20px;

/* Input Prompt */
$input-prompt-width: calc(#{$card-width} - (#{$card-horiz-padding} + #{$card-horiz-padding}));
$input-prompt-bg-color: #ED4337;
$input-prompt-carot-size: 10px;
$input-prompt-carot-left: 20px; // horizontal position of the carot
$input-prompt-margin-top: 2px;
$input-prompt-margin-bottom: 0px;


/* Card prompt */
.card-prompt {
    width: $card-width;
    font: $text-font;
    margin-bottom: $prompt-margin-bottom;

    .prompt-details {
        color: black;
        background-color: $prompt-bg-color;
        font: $bold-text-font;
        border-radius: $card-border-radius;
        padding: $card-horiz-padding 20px;

        .prompt-points {
            color: $theme-color;
        }
    }

    .prompt-carot-container {
        @include carot-container($prompt-carot-size);

        .carot {
            @include carot($prompt-carot-size, "down");
        }

        .carot-1 {
            @include carot-1($prompt-carot-size, $prompt-carot-left, $prompt-bg-color);
        }

        .carot-2 {
            @include carot-2($prompt-carot-size, $prompt-carot-left, $prompt-bg-color);
            left: calc(100% - 50px + #{$prompt-carot-size}) !important; // since calc() is not nestable in some browsers
        }
    }
}

/* Card */
.card {
    overflow: hidden;
    width: $card-width;
    border: 1px solid $progress-bar-bg-color;
    border-radius: $card-border-radius;
    font: $text-font;

    .card-content-centered {
        width: calc(100% - (#{$card-horiz-padding} + #{$card-horiz-padding}));
        margin-left: $card-horiz-padding;
        margin-top: $card-vert-padding;
    }
}

/* Card dismiss */
.card-dismiss {
    padding: $card-vert-padding $card-horiz-padding;

    .dismiss-message {
        display: inline-block;
        color: $theme-color;
        font: $text-font;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        margin:0;
        padding:0;
    }
}

#loading-icon-container {
    display: none;
    width: 100%;
    text-align: center;

    .loading {
        display: inline-block;
    }
}


/* Initial State Card */

#initial-state {
    position: absolute;
    //display: none;
}

#initial-state .card {
    @extend .card;

    /* Progress bar */
    .progress-bar {
        .progress-bar-bg {
            overflow: hidden;
            height: $progress-bar-height;
            background-color: $progress-bar-bg-color;
            border-radius: $progress-bar-border-radius;
        }

        .progress-bar-fg {
            height: 100%;
            width: $progress-percent;
            background-color: $theme-color;
        }

        .progress-carot-container {
            margin-top: 2px;
            @include carot-container($progress-carot-size);

            .carot {
                @include carot($progress-carot-size, "up");
            }

            .carot-1 {
                @include carot-1($progress-carot-size, $progress-carot-left, $progress-carot-color);
            }

            .carot-2 {
                @include carot-2($progress-carot-size, $progress-carot-left, $progress-carot-color);
                left: calc(#{$progress-percent} - #{$progress-carot-size} + #{$progress-carot-size}) !important; // since calc() is not nestable in some browsers
            }
        }

    }

    /* Card details */
    .card-details {
        color: $text-color;
        
        .card-title {
            font: $bold-text-font;
        }

        .card-description {
            font: $text-font;
        }
    }

    /* Card input */
    .card-input {
        position: relative;
        display: inline-block;
        width: calc(100%);

        .text-input {
            padding: $text-input-vert-padding $text-input-horiz-padding;
            border: 1px solid $progress-bar-bg-color;
            font: $text-input-font;
            width: 50%;
            height: calc(100% - (#{$text-input-vert-padding} + #{$text-input-vert-padding}));

            &:hover {
                border: 1px solid $theme-color;
                box-shadow: 0 0 2px $theme-color;
            }

            &:focus {
                outline: none !important;
                border: 1px solid $theme-color;
                box-shadow: 0 0 5px $theme-color;
            }
        }

        .button-input {
            position: relative;
            float: right;
            border: none;
            height: 40px;
            padding-left: $button-horiz-padding;
            padding-right: $button-horiz-padding;
            background-color: $theme-color;
            color: $button-text-color;
            border-radius: $button-border-radius;
            font: $bold-text-font;
            font-size: $button-font-size;
            cursor: pointer;
            outline: none;
        }
    }

    #input-prompt {
        display: none;
        width: $input-prompt-width;
        margin-top: $input-prompt-margin-top;
        margin-bottom: $input-prompt-margin-bottom;

        .prompt-details {
            color: white;
            background-color: $input-prompt-bg-color;
            font: $bold-text-font;
            border-radius: $card-border-radius;
            padding: $card-horiz-padding 20px;
        }

        .prompt-carot-container {
            @include carot-container($input-prompt-carot-size);

            .carot {
                @include carot($input-prompt-carot-size, "up");
            }

            .carot-1 {
                @include carot-1($input-prompt-carot-size, $input-prompt-carot-left, $input-prompt-bg-color);
            }

            .carot-2 {
                @include carot-2($input-prompt-carot-size, $input-prompt-carot-left, $input-prompt-bg-color);
            }
        }
    }
}

$card-vert-padding: 30px;
$checkmark-img-size: 100px;


/* Success Card */
#success-state {
    position: absolute;
    display: none;
    width: $card-width;
}

#success-state .card {
    @extend .card;

    width: 100%;
    background-color: $theme-color;
    font: $text-font;
    text-align: center;
    color: white;

    .card-content-centered {
        width: calc(100% - (#{$card-horiz-padding} + #{$card-horiz-padding}));
        margin-left: $card-horiz-padding;
        margin-top: $card-vert-padding;
    }

    .img-container {
        width: 100%;
    }

    #checkmark-img {
        width: $checkmark-img-size;
        height: $checkmark-img-size;
    }

    .success-message-container {
        width: 100%;
        text-align: center;

        .success-message {
            margin: 0px auto;
            font: $bold-text-font;
        }
    }
}
